---
title: not found :(
directory_index: false
---

markdown:
  ## not found :(

  Sorry, but there's nothing here.

  This probably means you followed a link to my old site, which had a whole lot of blog entries I didn't bother to bring over to the newly-updated one. Someday some of that content might get cleaned up and come back.

  Of course, you might have just searched for something utterly random! That's not here either.

  Feel free to check out [the main page](http://www.yardley.ca) instead.